/* banner */

.banner .title {
  margin: 0 0 40px 0;
}

.banner h1 {
  color: #dfdbd0;
  font-family: "OpenSans Bold";
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 40px;
}

.banner .bottom {
  display: flex;
  gap: 25px;
  align-items: center;
}

.banner .bottom span {
  color: var(--branco);
  font-family: "OpenSans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1200px) {
  .banner {
    padding: 180px 0 60px;
  }

  .banner h1 {
    font-size: 30px;
  }
}

/* post */

.post {
  position: relative;
  background-color: var(--branco);
}

.post::before {
  content: "";
  position: absolute;
  width: 800px;
  height: 45px;
  top: -45px;
  right: 30px;
  display: block;
  background-color: var(--branco);
  z-index: 2;
  clip-path: polygon(50% 30px, 100% 30px, 100% 100%, 0 100%, 0 0, 50% 0);
}

.post .row {
  padding: 60px 0;
}

.post .col-12 > img {
  max-height: 550px;
  width: 110%;
  object-fit: cover;
  object-position: top;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.post .social-media {
  display: flex;
  margin: 70px auto;
}

.post p {
  color: var(--preto);
  font-family: "OpenSans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .post::before {
    top: -20px;
    left: 50%;
    clip-path: none;
    transform: translateX(-50%);
    width: 90%;
  }

  .post .col-12 > img {
    width: 100%;
  }
}
