/* grid-content */

.grid-content {
  grid-template-columns: repeat(auto-fit, min(220px, 100%));
}

/* clients */

.clients .shaped-content {
  padding-bottom: 20px;
}

.clients .grid-content {
  padding-top: 100px;
}

.client {
  background-color: var(--branco);
  height: 140px;
  width: 100%;
  padding: 25px 50px;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client > img {
  width: 90%;
  height: 100%;
  object-fit: scale-down;
}

/* swiper-clients */

.swiper-clients {
  padding: 100px 0;
}

.swiper-clients .slick-prev {
  left: -10px;
  z-index: 1;
}

.swiper-clients .slick-next {
  right: -10px;
}

.swiper-clients .slick-next:before,
.swiper-clients .slick-prev:before {
  color: var(--preto);
}

.swiper-clients .client {
  margin: 0 auto;
  width: 90%;
}

.clients .grid-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.clients .load-more {
  margin: 0px auto 40px;
}

@media (max-width: 1200px) {
  .swiper-clients {
    padding: 60px 0 50px;
  }
}
