:root {
  --branco: #fff;
  --branco-2: #f7f3f0;
  --preto: #000;
  --cinza: #333;
  --amarelo: #f7d46a;
  --dourado: #b19969;
  --bege: #a69374;
  --bege-2: #b2a593;
  --bege-3: #f2ede2;
  --marrom: #594c36;
}

@font-face {
  font-family: "Metrisch Bold";
  src: url("../assets/fontes/METRISCH-BOLD.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Italic";
  src: url("../assets/fontes/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Light";
  src: url("../assets/fontes/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fontes/Montserrat-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../assets/fontes/Montserrat-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans Bold";
  src: url("../assets/fontes/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans Light";
  src: url("../assets/fontes/OpenSans-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/fontes/OpenSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedHatDisplay Light";
  src: url("../assets/fontes/RedHatDisplay-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedHatDisplay Medium";
  src: url("../assets/fontes/RedHatDisplay-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
}

body {
  font-family: "AvertaStd Regular", sans-serif;
  font-size: 12px;
  overflow-x: hidden;
  background-color: var(--bege-3);
}

.hidden {
  display: none !important;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

button {
  cursor: pointer;
}

hr {
  display: inline-block;
  background-color: var(--azul-claro);
  width: 100%;
  height: 1px;
  margin: 12px 0 8px;
}

a {
  text-decoration: none;
}

.link-completo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* nav bar */

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  height: 100px;
  width: 100%;
  z-index: 100;
  background-color: var(--branco);
  top: 0;
  left: 0;
}

nav > a img {
  width: 230px;
}

nav .nav-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 100px;
  background-color: var(--azul-escuro);
  z-index: 100;
  width: 100%;
  overflow-y: scroll;
  z-index: 100;
  transition: max-height 0.3s ease-out;
  height: calc(100vh - 100px);
}

nav .nav-buttons a,
nav .nav-buttons .dropdown a {
  color: var(--branco);
  font-family: "AvertaStd Semibold";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  padding: 15px 2px;
  border-bottom: 1px solid var(--azul-claro);
  margin: 0 80px 0 40px;
}

nav .nav-buttons a.blue-link {
  color: var(--branco);
  text-align: center;
  font-family: "AvertaStd Semibold";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  border-radius: 20.5px;
  background: #3e5d67;
  padding: 5px 15px;
}

nav .content-buttons {
  display: grid;
}

nav .menu {
  background: var(--gradiente-azul);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}

nav .menu img {
  height: 15px;
  width: 15px;
}

/* footer */

footer .map.desktop {
  background-color: var(--azul-escuro);
}

footer .map.desktop .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .map.mobile .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

footer .map .container > img {
  width: 200px;
}

footer .map.mobile > button {
  width: 100%;
  background-color: var(--azul);
  color: var(--branco);
  text-align: center;
  font-family: "AvertaStd Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .map.mobile > button img {
  transform: rotate(-90deg);
  width: 26px;
}

footer .map.mobile {
  background-color: var(--azul-escuro);
}

footer .map .links a {
  color: var(--branco);
  font-family: "AvertaStd Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

footer .map.desktop .links {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 10px 15px;
}

footer .map.mobile .links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  gap: 15px 10px;
  padding-top: 50px;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

footer .map.desktop .contact {
  width: 250px;
}

footer .map.mobile .contact {
  width: fit-content;
  padding-bottom: 50px;
}

footer .contact > * {
  display: block;
  margin-bottom: 10px;
}

footer .contact span {
  display: flex;
  align-items: center;
  color: var(--branco);
  font-family: "AvertaStd Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

footer .contact span > img {
  width: 20px;
  margin-right: 10px;
}

footer .terms {
  background-color: var(--branco);
  padding: 40px 0;
  text-align: center;
}

footer .terms > * {
  display: block;
}

footer .rights-reserved {
  background-color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 0 80px;
}

footer .terms a {
  color: #8e8e8e;
  font-family: "AvertaStd Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 15px;
}

footer .rights-reserved img {
  width: 60px;
  vertical-align: middle;
}

footer .rights-reserved span {
  color: #000;
  font-family: "AvertaStd Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  display: inline-block;
  width: 180px;
}

/* limit text */

.limit-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* banner */

.banner {
  margin-top: 100px;
  position: relative;
  padding: 150px 0;
}

.banner .img-background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 63% 0%;
}

.banner .title {
  margin: 0 0 130px 0;
  position: relative;
  padding-left: 40px;
}

.banner .title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  height: 48px;
  width: 6px;
  background-color: var(--amarelo);
}

.banner .title p {
  color: var(--bege-2);
  font-family: "OpenSans Bold";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/* banner-thin */

.banner-thin {
  position: absolute;
  top: 0;
  left: 0;
  height: 240px;
  width: 100%;
  z-index: -1;
}

.banner-thin img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* white-bg */

.white-bg.container {
  position: relative;
  padding: 50px 35px;
  background-color: var(--branco);
}

.white-bg p {
  color: var(--preto);
  font-family: "AvertaStd Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.9px;
}

@media (max-width: 576px) {
  .white-bg.container {
    margin: 0 15px;
  }
}

/* autor */

.author {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  vertical-align: bottom;
}

.author img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.author span {
  color: #848484;
  font-family: "AvertaStd Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  text-decoration: none;
}

/* parsley-error */

.parsley-error {
  border: 3px solid #ff282bee;
}

input[type="text"].parsley-error::placeholder {
  color: #ff282bee;
  opacity: 0.7;
}

/* social-media */

.social-media {
  height: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  width: fit-content;
}

.social-media a {
  height: 100%;
  transition: all ease-in-out 0.3s;
}

.social-media a:hover {
  transform: scale(1.1);
}

.social-media img {
  height: 100%;
  display: inline-block;
}

/* watch-video-gradient */

.watch-video-gradient {
  width: 100%;
  aspect-ratio: 16 / 9;
  background: linear-gradient(180deg, #3f8599 0%, #3e5d67 92.39%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.watch-video-gradient span {
  display: inline-block;
  width: 130px;
  color: var(--branco);
  font-family: "AvertaStd Regular";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

/* watch-video-background */

.watch-video-background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
}

.watch-video-background > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.watch-video-background .watch-button {
  display: flex;
  align-items: center;
  gap: 20px;
}

.watch-video-background .watch-button div {
  color: var(--branco);
  font-family: "AvertaStd Regular";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  width: 150px;
}

.watch-video-background .watch-button p,
.watch-video-background .watch-button span {
  color: var(--branco);
  font-family: "AvertaStd Black";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}

/* accordion */

.accordion {
  margin-bottom: 30px;
}

.accordion.active {
  box-shadow: 0px 24px 26px rgba(0, 0, 0, 0.25);
}

.accordion > button {
  font-family: "AvertaStd Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  background-color: var(--branco);
  color: var(--azul-claro);
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 30px 100px 20px 50px;
}

.accordion button:after {
  position: absolute;
  content: url("../assets/svg/mais.svg");
  font-size: 21px;
  color: var(--preto);
  float: right;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  transition: transform 0.2s ease-out;
}

.accordion.active button:after {
  transform: translateY(-50%) rotate(45deg);
}

.accordion .panel {
  background-color: var(--branco);
  display: block;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-height: 0;
  padding: 0 30px 0 50px;
}

.panel p {
  color: #000;
  font-family: "AvertaStd Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.panel * {
  margin-top: 30px;
}

.panel *:last-child {
  margin-bottom: 30px;
}

/* filter */

.filter {
  margin-bottom: 65px;
}

.filter h1 {
  color: var(--bege-2);
  font-family: "OpenSans";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.filter button,
.filter a {
  color: var(--cinza, #333);
  font-family: "OpenSans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 25px 0px;
  display: block;
  text-decoration: none;
  text-align: start;
  background-color: transparent;
  border-bottom: 1px solid #c4c4c4;
}

.filter button.active,
.filter a.active {
  color: var(--bege);
  border-bottom: 1px solid var(--amarelo);
}

.filter button.active:after,
.filter a.active:after {
  position: absolute;
  content: url(../assets/svg/seta-dir-bege.svg);
  font-size: 21px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

/* tag-filter */

.tag-filter h1 {
  color: var(--bege-2);
  font-family: "OpenSans";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}

.tag-filter .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 30px;
}

.tag-filter button {
  background-color: #e2dccf;
  border-radius: 15px;
  display: inline-flex;
  height: 26px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--preto);
  font-family: "OpenSans Bold";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.tag-filter button.active {
  background-color: var(--preto);
  color: #e2dccf;
}

@media (max-width: 992px) {
  .tag-filter {
    margin-bottom: 40px;
  }
}

/* shaped-content */

.shaped-content {
  position: relative;
  background-color: transparent;
}

.shaped-content::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--bege-3);
  margin: -50px auto -50px;
  position: absolute;
  padding: 120px 20px;
  clip-path: polygon(
    0 0,
    50% 0,
    50% 20px,
    100% 20px,
    100% 100%,
    50% 100%,
    50% calc(100% - 20px),
    0 calc(100% - 20px)
  );
}

@media (max-width: 992px) {
  .shaped-content {
    background-color: var(--bege-3);
  }
  .shaped-content::before {
    display: none;
  }
}

/* grid-content */

.grid-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(370px, 100%));
  gap: 30px;
  justify-content: center;
  position: relative;
}

/* outline-button */

.outline-button {
  color: var(--marrom);
  font-family: "OpenSans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 15px;
  max-width: 200px;
  width: fit-content;
  border: 1px solid var(--dourado);
  margin: 20px 0 30px;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.outline-button > img {
  margin-left: 20px;
}

/* outline-button white */

.outline-button.white {
  border: 1px solid var(--branco);
  color: var(--branco);
}

/* load-more */

.load-more {
  margin: 80px auto 60px;
}

@media (min-width: 992px) {
  nav .menu {
    display: none;
  }

  nav .nav-buttons {
    position: relative;
    background-color: transparent;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: row;
    overflow: hidden;
    justify-content: right;
    overflow: visible;
  }

  .dropdown:hover .content-buttons {
    max-height: 500px;
  }

  .dropdown:hover .dropdown span::after {
    transform: rotate(0);
    font-size: 50px;
  }

  nav .nav-buttons .content-buttons {
    transition: max-height 0.3s ease-out;
    display: grid;
    position: absolute;
    z-index: 200;
    top: 40px;
    left: 0;
    background-color: var(--azul-escuro);
    max-height: 0;
    overflow: hidden;
  }

  nav .nav-buttons .content-buttons a {
    color: var(--branco);
    font-size: 17px;
    border: none;
    padding: 10px 0;
    margin: 0 40px 0 20px;
  }

  nav .nav-buttons a,
  nav .nav-buttons .dropdown span {
    position: relative;
    color: var(--azul-escuro);
    font-family: "AvertaStd Semibold";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 20px 0 10px;
    border-bottom: none;
    cursor: pointer;
  }

  nav .nav-buttons .dropdown {
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
  }

  nav .nav-buttons .dropdown span::after {
    content: "▲";
    position: absolute;
    right: -14px;
    bottom: 4px;
    font-size: 12px;
    transform: rotate(180deg);
    transition: transform 0.3s ease-out;
  }

  .banner {
    padding: 230px 0 200px;
  }

  .banner .texto p {
    text-align: left;
  }

  .counter-title span {
    text-align: start;
  }

  .tabs .slick-slider .slick-prev::before {
    content: url(../assets/svg/seta-esquerda-swiper-azul.svg);
  }

  .tabs .slick-slider .slick-next::before {
    content: url(../assets/svg/seta-direita-swiper-azul.svg);
  }

  .slick-slider .slick-prev {
    top: 52.5%;
    left: -25px;
  }

  .slick-slider .slick-next {
    top: 52.5%;
    right: -25px;
  }

  .contact-form {
    padding: 80px 0;
  }

  .contact-form .superior-img {
    display: inline-block;
    position: absolute;
    top: -37px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 2;
    width: 74px;
    height: 74px;
  }

  .contact-form .text {
    margin: auto 0;
    width: 260px;
  }

  .contact-form h1,
  .contact-form h2 {
    text-align: left;
  }

  .contact-form form {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr auto;
  }

  .contact-form form label {
    grid-column: 1 / 3;
  }

  .event-card {
    display: grid;
    grid-template-columns: 37.5% 62.5%;
    border: 2px solid var(--branco);
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  }

  .event-card .card-content .actions {
    gap: 50px;
  }

  .article-card {
    display: grid;
    grid-template-columns: 37.5% 62.5%;
    border: 2px solid var(--branco);
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  }

  .article-card .card-content .actions {
    gap: 50px;
  }

  .article-card-wrapper.invert .article-card {
    grid-template-columns: 62.5% 37.5%;
  }

  .article-card-wrapper.invert .article-card .card-content {
    order: -1;
  }

  .article-card-wrapper.invert .article-card .author {
    order: -1;
  }

  .article-card-wrapper.invert .article-card * {
    justify-content: flex-end;
    text-align: end;
  }

  .others > h1 {
    font-size: 40px;
  }

  .others > div > h1,
  .others > h1 {
    font-size: 40px;
    margin: 70px 0 30px;
  }

  .others > div > .blue-btn,
  .others > .blue-btn {
    margin: 30px auto 70px;
  }

  .bio .bio-info {
    padding: 0px 20px;
    top: 0px;
    box-shadow: -33px -10px 63.7px rgba(0, 0, 0, 0.25);
  }

  .bio .bio-info::before {
    top: 50%;
    height: 50%;
  }

  .bio .bio-info > .row {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 70px;
  }

  .bio .bio-info .img-column {
    display: flex;
    align-items: end;
  }

  .bio .bio-info > img {
    top: 100px;
  }

  .bio .bio-info .bio-info-img-wrapper::after {
    width: 110px;
    height: 15px;
    top: 50%;
    right: -25px;
  }

  .bio .bio-info .info-column {
    padding: 200px 60px 0;
  }

  .bio .bio-info .info-column h1 {
    margin-bottom: 40px;
    text-align: start;
  }

  .bio .bio-info .info-column .blue-btn {
    margin: 45px 0;
  }

  .bio .bio-info .bio-info-img {
    width: auto;
    position: relative;
    bottom: -50px;
  }

  .bio .bio-info .bio-info-img-wrapper {
    padding: 0 60px;
  }

  .media-card .card-content {
    padding: 15px 0 30px;
  }

  .media-card .card-content .blue-btn {
    margin: 0;
    display: inline-block;
    order: -1;
  }

  .media-card .card-content .author {
    margin: 0;
  }

  .blog-card .card-content {
    padding: 15px 0 30px;
  }

  .blog-card .card-content .blue-btn {
    margin: 0;
    display: inline-block;
    order: -1;
  }

  .blog-card .card-content .author {
    margin: 0;
  }

  .learn {
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: var(--branco);
  }

  .press-card {
    align-items: start;
  }

  .be-a-reseller {
    padding-top: 50px;
    margin-top: 50px;
  }

  .be-a-reseller .logo {
    order: 1;
  }

  .be-a-reseller .logo .blue-btn {
    bottom: 50px;
    left: 70px;
    transform: none;
  }

  footer .terms {
    border-bottom: 1px solid #d9d9d9;
  }

  footer .terms > * {
    display: inline-block;
  }

  footer .terms a {
    margin-bottom: 0;
    margin-right: 30px;
  }

  footer .rights-reserved {
    padding: 40px 0;
  }

  footer .rights-reserved span {
    width: auto;
  }
}

/* other-blogs */

.other-blogs {
  background-color: #d6d1c5;
  padding-bottom: 50px;
}

.other-blogs > h1 {
  padding: 60px 0 70px;
  text-align: center;
  color: var(--marrom);
  font-family: "OpenSans Bold";
  font-size: 33px;
}

@media (max-width: 992px) {
  .contact-us .contact-info > div span,
  .contact-us .contact-info > div strong {
    font-size: 16px;
  }

  .other-blogs .slick-next {
    right: -15px;
    top: 30%;
  }

  .other-blogs .slick-prev {
    left: -15px;
    top: 30%;
  }
}

/* pop video */

.popup-video {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.popup-video.ativado {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.popup-video .video {
  position: relative;
  top: 50%;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  background-color: var(--branco);
}

.popup-video .fecha-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-video iframe {
  width: 800px;
  height: 400px;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .popup-video .video {
    padding: 15px;
  }

  .popup-video iframe {
    width: 100%;
    height: 200px;
  }
}

/* pop podcast */

.popup-podcast {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.popup-podcast.ativado {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.popup-podcast .podcast {
  position: relative;
  top: 50%;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  background-color: var(--branco);
}

.popup-podcast .fecha-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-podcast iframe {
  width: 800px;
  height: 400px;
}

@media (max-width: 1200px) {
  .popup-podcast .podcast {
    padding: 15px;
  }

  .popup-podcast iframe {
    width: 100%;
    height: 152px;
  }
}

/* btn flutuante */

.btn-flutuante {
  position: fixed;
  z-index: 1000;
  bottom: 30px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-flutuante .btn-sobe-topo {
  background-color: var(--branco);
  outline: none;
  border: 1px solid var(--preto);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn-flutuante .btn-sobe-topo i {
  font-size: 25px;
}

.btn-flutuante .whatsapp {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #25d366;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-flutuante .whatsapp img {
  width: 35px;
  margin-left: 3px;
}

@media (max-width: 1200px) {
  .btn-flutuante {
    right: 10px;
    bottom: 10px;
  }
}

/* COOKIE */

.section_cookie {
  margin: auto;
  z-index: 120;
  position: fixed;
  left: 0;
  bottom: 15px;
  width: 100%;
}

.section_cookie .box {
  background-color: #fff;
}

.section_cookie .text {
  padding: 10px 25px;
  font-weight: 600;
  font-size: 18px;
  color: #4d4d4d;
  line-height: 22px;
}

.section_cookie .close_cookie {
  border: none;
  background-color: #1d2c43;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 10px 25px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
}

/* business */

.business {
  position: relative;
  background-color: #e2ded5;
}

.business > h1 {
  color: var(--marrom);
  font-family: "OpenSans";
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 90px;
}

.business > h1 strong {
  font-family: "OpenSans Bold";
}

.business::after {
  content: url(../assets/svg/hexagono-amarelo.svg);
  position: absolute;
  right: 30px;
  bottom: 70px;
  display: block;
  width: 500px;
}

.swiper-business {
  z-index: 1;
}

.swiper-business .slick-prev {
  top: 700px;
  left: 430px;
  z-index: 1;
}
.swiper-business .slick-prev::before {
  content: url("../assets/svg/seta-esq-preto.svg");
}

.swiper-business .slick-next {
  top: 700px;
  left: 500px;
  z-index: 1;
}

.swiper-business .slick-next::before {
  content: url("../assets/svg/seta-dir-preto.svg");
}

.business-card {
  position: relative;
  margin: 90px 100px 120px;
  clip-path: polygon(
    15% calc(100% - 70px),
    0 calc(100% - 70px),
    0 0,
    100% 0,
    100% calc(100% - 40px),
    calc(100% - 70px) calc(100% - 40px),
    calc(100% - 70px) 100%,
    55% 100%,
    55% calc(100% - 50px),
    15% calc(100% - 50px)
  );
  height: 700px;
}

.business-card > .row {
  gap: 0px;
}

.business .business-info {
  background-color: var(--branco);
}

.business .business-info .info-content {
  padding: 80px 100px 120px 80px;
}

.business .business-info .info-content .yellow-highlight {
  position: relative;
}

.business .business-info .info-content .yellow-highlight::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 20px;
  left: -80px;
  top: 0;
  background-color: var(--amarelo);
  display: block;
}

.business .business-info .yellow-highlight > img {
  width: 300px;
}

.business .business-info .yellow-highlight > p {
  color: var(--preto);
  font-family: "OpenSans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
  -webkit-line-clamp: 6;
}

.business .business-info .social-media {
  margin-bottom: 45px;
}

.business .business-video {
  position: relative;
  background-color: var(--bege);
}

.business .business-video .video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: 70px;
  right: 70px;
  z-index: 2;
}

.business .business-video .play-video {
  position: absolute;
  height: 65px;
  width: 65px;
  left: calc(50% - 70px);
  top: calc(50% + 70px);
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media (max-width: 992px) {
  .business > h1 {
    margin-bottom: 45px;
  }

  .business-card {
    margin: 0px 10px 50px;
    height: 850px;
    clip-path: none;
  }

  .swiper-business .slick-prev {
    top: 535px;
    left: 30%;
    transform: translateX(-50%);
  }

  .swiper-business .slick-next {
    top: 535px;
    left: 65%;
    transform: translateX(-50%);
  }

  .business .business-video .video-bg {
    top: 0px;
    right: 0px;
  }

  .business .business-video .play-video {
    left: 50%;
    top: 50%;
  }

  .business .business-info .info-content .yellow-highlight::before {
    width: 10px;
    left: -30px;
  }

  .business .business-info .yellow-highlight > img {
    width: 100%;
  }

  .business .business-info .yellow-highlight > p {
    -webkit-line-clamp: 15;
  }

  .business .business-info .info-content {
    padding: 50px 30px;
  }

  .business .business-info .social-media {
    gap: 15px;
    display: flex;
    margin: 0 auto;
  }

  .business .business-info .outline-button {
    margin: 30px auto;
  }
}

/* contact-form */

.contact-form {
  position: relative;
  padding: 60px 60px 60px 0;
}

.contact-form form {
  display: grid;
  gap: 12px;
}

.contact-form .img-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.contact-form .superior-img {
  display: none;
}

.contact-form h1 {
  color: var(--bege-2);
  font-family: "Open Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 50px;
}

input[type="text"],
textarea,
select {
  position: relative;
  border-radius: 10px;
  color: var(--bege);
  font-family: "OpenSans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 16px 20px;
  width: 100%;
  background-color: var(--bege-3);
  border: 1px solid var(--bege);
  resize: none;
}

input[type="text"]::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--bege);
}

input[type="text"]:focus-visible,
textarea:focus-visible,
select:focus-visible {
  border: 1px solid var(--amarelo);
  outline: none;
}

.contact-form textarea {
  grid-column: 1 / 3;
}

optgroup {
  font-size: 18px;
  color: var(--azul-escuro);
}

.contact-form button[type="submit"],
button.send {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--marrom);
  color: var(--amarelo);
  font-family: "OpenSans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input[type="checkbox"] {
  appearance: none;
  background-color: transparent;
  color: var(--marrom);
  min-width: 20px;
  height: 20px;
  border: 1px solid var(--marrom);
  border-radius: 2px;
  margin-left: -18px;
  display: inline-grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--marrom);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

label {
  color: var(--bege);
  font-family: "OpenSans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 20px 18px;
  display: flex;
  gap: 8px;
}

@media (max-width: 992px) {
  .contact-form {
    padding: 80px 0;
  }

  .contact-form .superior-img {
    display: inline-block;
    position: absolute;
    top: -37px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 2;
    width: 74px;
    height: 74px;
  }

  .contact-form .text {
    margin: auto 0;
    width: 260px;
  }

  .contact-form h1,
  .contact-form h2 {
    text-align: left;
  }

  .contact-form form {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .contact-form textarea {
    grid-column: 1;
  }
}

/* card-blog */

.card-blog {
  margin: 0 10px;
}

.card-blog > img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.card-blog span {
  color: var(--preto);
  font-family: "OpenSans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.card-blog > div {
  margin: 15px 0 15px;
}

.card-blog > div span:first-child {
  margin-right: 20px;
}

.card-blog h1 {
  color: var(--preto);
  font-family: "OpenSans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}
